/* You can add global styles to this file, and also import other style files */

// to override bootstrap theme
@import "theme/variable";
@import "theme/reset"; // override bootstrap styles
@import "theme/app";

// add bootstrap functions to app
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
// add the grid


/*@font-face {
  font-family: MuseoSans;
  src: url("assets/fonts/MuseoSans-300.otf");
}*/
html, body {
  height: 100%;
}

body {
  margin: 16px;
  font-family: MuseoSans, "Helvetica Neue", sans-serif;
}
